h1 Is that what she said?
form
  input(type='text',name='twss',placeholder='Type here to find out!')
p(id='twss')
p(id='info')
  i Nice weather we're having today > NO
  br
  i Can you make it harder?  > YES
  br
  i You're not going fast enough! > YES
